.demographic-form{
    padding: 5px;
}

.form-title{
    text-align: center;
    color:cadetblue;
}

.form-group{
    padding-top: 5px;
}

.emrgncyLink{
    color: crimson;
    text-decoration: underline;
    cursor: pointer;
    top: 10px;
}

.alergyAndContactForm{
    padding-top: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }