
  <app-header></app-header>
  
  <!-- <h3><a>Fill Demographic Details</a></h3>
  <h3><a>Enter Patient visit details</a></h3> -->
  <!-- <app-demographic-details></app-demographic-details>-->
  <!-- <app-visit-details></app-visit-details>  -->
  <!-- <div class="row" *ngIf="!isRouterActive">
    <div class="col-sm-2"></div>
    <div class="p-3 col-sm-8">
      <mat-card>
        <mat-card-title>
           
          </mat-card-title>
          <mat-card-content>
            <div class="row">
              <div class="row g-2">
                <div class="col-3"></div>
                <div class="col-6" style="text-align: center;">
                  <img src="assets/default.png" class="rounded float-right img-fluid" style="max-width: 35%;" alt="Not found">
                </div>
                <div class="col-3"></div>
              </div>
                <div class="row g-2">
                  <div class="col-6">
                    <div class="p-3 border bg-light textAlignCenter">
                     <span>Name: <b>Krishna Yadav</b></span>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="p-3 border bg-light textAlignCenter">
                      <span>Age: <b>16</b></span>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="p-3 border bg-light textAlignCenter">
                      <span>Purpose of visit: <b>Routie check up</b></span>
                    </div>
                  </div>
                  <div class="col-6" >
                    <div class="p-3 border bg-light textAlignCenter">
                      <span>Gender: <b>Male</b></span>
                    </div>
                  </div>
                </div>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <div class="row g-2">
              <div class="p-3 col-6">
                <button routerLink="/demographic" (click)="isNavigated($event)" class="btn btn-primary">Add demographic details</button>
              </div>
              <div class="p-3 col-6">
                <button routerLink="/examination" (click)="isNavigated($event)" class="btn btn-primary" style="float: right;">Add Examination details</button>
              </div>
            </div>
          </mat-card-footer>
      </mat-card>
      
    </div>
  </div> -->
<router-outlet>
    
</router-outlet>